@import "../../../assets/styles/variables.scss";

.button-confirm {
  @extend %poppinsMedium18_20;

  width: 100%;
  padding-block: clamp(8px, 1.5vw, 10px);
  border: 1px solid #272727;
  border-radius: 30px;
  color: white;

  &:hover {
    background-color: rgba(207, 207, 207, 1);
  }
}
