@import "../../assets/styles/variables.scss";

.card {
  width: clamp(225px, 23vw, 394px);
  height: clamp(280px, 27vw, 455px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: clamp(15px, 1.3vw, 18px);
  cursor: pointer;
  &__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
      width: clamp(20px, 2vw, 30px);
      height: clamp(17px, 2vw, 25px);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__center {
  }

  &__name-price {
    @extend %poppinsMedium25;
    font-size: clamp(18px, 1.5vw, 25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(7px, 1.5vw, 18px);
    column-gap: 10px;
  }

  &__main {
    padding: clamp(10px, 1.5vw, 20px) 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__name {
    @include textAdaptive(1);
    margin-top: 4px;
    padding-bottom: 4px;
  }

  &__price {
    text-wrap: nowrap;
    color: white;
  }

  &__under-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  &__geolocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: clamp(6px, 1.5vw, 15px);

    & span {
      @include textAdaptive(1);
      color: white
    }
  }

  &__arrow {
    & svg {
      width: clamp(17px, 2vw, 24px);
      height: clamp(16px, 2vw, 22px);
    }
  }

  &__footer {
    padding: clamp(10px, 5vw, 15px) 15px;
    height: clamp(65px, 5vw, 86px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(243, 241, 241, 1);
    border-bottom: 1px solid #717171;
    border-left: 1px solid #717171;
    border-right: 1px solid #717171;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__text {
    @include textAdaptive(3);
    padding-bottom: 1px;
  }

  &__star {
    text-wrap: nowrap;
  }
}
.icon-liked {
  & > path {
    fill: red;
  }
}
