@import "./fonts.scss";

$colorError: #45C9CE;
$colorRedOpacity: rgba(154, 4, 31, 0.2);
$colorRedHover: rgba(154, 4, 31, 0.3);

%robotoRegular18 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 2.5vw, 18px);
}
%robotoRegular15_20 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 2.5vw, 20px);
}

%robotoBold18 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(15px, 2.5vw, 18px);
}

%poppinsBold25 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsMedium15 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(15px, 2.5vw, 20px);
}

%poppinsBold18_18 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

%poppinsMedium18_20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 20px);
}

%poppinsMedium18 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 2.5vw, 20px);
}

%poppinsMedium18_25 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsMedium20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 25px);
}

%poppinsMedium25 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 25px);
}

%poppinsMedium18_21 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 21px);
}

%poppinsBold18_21 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 2.5vw, 21px);
}

%poppinsSemiBold25 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 25px);
}

%poppinsSemiBold18_21 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 21px);
}

%poppinsMedium35 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 35px);
}

%poppinsMedium60 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(40px, 2.5vw, 60px);
}

%poppinsMedium25_50 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(25px, 2.5vw, 50px);
}

%poppinsMedium18_35 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 2.5vw, 35px);
}

%poppinsMedium16_18 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 18px);
}

%poppinsMedium16_25 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 25px);
}

%poppinsMedium16_20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 2.5vw, 20px);
}

%poppinsMedium20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20;
}

%poppinsMedium25_2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

@mixin textAdaptive($webkit-line-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $webkit-line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
